<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8"/>
    <title>IC Activities Tracker</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/assets/dropzonejs/dropzone.css}"/>
    <link th:rel="stylesheet" th:href="@{/assets/toastr/toastr.min.css}"/>
</head>
<body>

<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">IC Activities Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">New activity</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Knowledge base</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Statistics</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-lg-8 mt-5">

            <div th:if="${message}">
                <h2 th:text="${message}"/>
            </div>

            <div id="dropzone">
                <form action="/upload" class="dropzone needsclick" id="demo-upload">

                    <div class="dz-message needsclick">
                        <button type="button" class="dz-button">Drop files here or click to upload.</button>
                        <br/>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

<div>
    <form method="POST" action="/pressAdd">
        <table>
            <tr><td></td><td><input type="submit" value="Add" /></td></tr>
        </table>
    </form>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/dropzonejs/dropzone.min.js}"></script>
<script th:src="@{/assets/toastr/toastr.min.js}"></script>



<script>
    Dropzone.autoDiscover = false;

    $("#demo-upload").dropzone({
        success : function(file, response) {
            toastr.success('File ' + file.name + ' uploaded successfully');
            document.write(response);
        }
    });


</script>


<!--div th:if="${message}">
    <h2 th:text="${message}"/>
</div-->
<div>
    <h2> Files: </h2>
    <ul>
        <li th:each="file : ${files}">
            <a th:href="${file}" th:text="${file}" />
        </li>
    </ul>
</div>

<div th:if="${duplicateActivity}">
    <p> The activity with this ID is already in DB </p>
</div>

<div th:if="${activity}">
    <form method="POST" action="/saveNew">
        <table>
            <tr><td>SR ID</td>
                <td> <input type="text" disabled=true th:field="*{activity.srId}" id="srId"/></td> </tr>
            <tr><td>Act ID</td>
                <td> <input type="text" disabled=true th:field="*{activity.activityID}" id="activityID"/> </td></tr>
            <tr><td>SR Name</td>
                <td><input type="text" disabled=true th:field="*{activity.srTitle}" id="srTitle"/> </td></tr>
            <tr><td>Activity Name</td>
                <td><input type="text" th:field="*{activity.actTitle}"/> </td></tr>
            <tr><td>Customer</td>
                <td><input type="text" th:field="*{activity.customer}"/> </td></tr>
            <tr><td>CreatedBy</td>
                <td><input type="text" disabled=true th:field="*{activity.createdBy}"/> </td></tr>
            <tr><td>Creation date</td>
                <td><input type="text" disabled=true th:field="*{activity.creationDate}"/> </td></tr>
            <tr><td>Type</td>
                <td><input type="text" disabled=true th:field="*{activity.type}"/> </td></tr>
            <tr><td>Priority</td>
                <td><input type="text" disabled=true th:field="*{activity.priority}"/> </td></tr>

            <tr><td></td><td><input type="submit" value="Save" /></td></tr>
        </table>
    </form>
</div>






</body>
</html>